body {
  text-align: center;
  align-items: center;
  margin: auto;
}

.title {
  font-weight: bold;
}

button {
  background-color: darkred;
  color: white;
  font-weight: bold;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(118, 10, 10);
  color: rgb(240, 240, 240);
}